<!DOCTYPE html>
<html>
  <head>
    <title>404 | Resource not found</title>

    <style type="text/css" media="screen">
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <br /><br />
    <div>
      <h4>404 | Resource not found</h4>
    </div>
    <br /><br />
  </body>
</html>
